h1{
    font-weight: 400;
}
.item{
    list-style: none;
    display: flex;
    font-weight: 300;
    align-items: center;
}

.edit-item-button{
    background-color: transparent;
    border: none;
    color: dodgerblue;
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
}

.edit-item-button:hover{
    cursor: pointer;
}


.delete-button{
    width: 1.3em;
    height: 1.3em;
    padding: 0;
    background-color: #ffc800;
    color: rgb(29, 29, 29);
    border: 1px rgb(29, 29, 29) solid;
    border-radius: 3px;

}
.delete-button:hover{
    background-color: #ffa096;
    border: 1px salmon solid;
}

input[type="checkbox"] { 
    width: 2em;
    height: 2em;
    filter: invert(5%) hue-rotate(910deg) brightness(2);
    border: 1px solid black;
  }

.centered{
    display: flex;
}

label{
    max-width: 500px;
    overflow: auto;
}

@media (max-width: 450px){
    .item{
        justify-content: center;
    }
    label{
        max-width: 200;
    }
}